 body{
	background-color: #e9ebee;              
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 16px;
	margin: 0 auto;
	max-width: 800px;              
}
table{
width:100%;
}

a:hover{
color:red;
}

table 
{
	border:1px solid black ;
	width:100%;
	background-color:white;
}

td {
	
	border :1px solid black;
	
}

body{
	background-color: gray ;

}

img {
	height: 50px;
}