h1{
    text-align: center;

}
p {
    margin-top: 0px;
}

fieldset{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #CCC; /*fond noir */
    color: black;
}
label{
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
input[type=submit]{
     width: 70;
     padding: 10px;


}
div#error{
    background-color: #ff00ff;
    padding: 5px;
    border: 1px solid black;
}

